*{
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    color: white;
   
   
  }
  
html{
  min-height: 100%;
}

  body{
    margin: 0;
  }
  
  header{
    width: 100%;
    min-height: 7%;
    font-size:12rem;
    position: fixed;
    top:0;
    left:0;
    background-color: #181818;
    z-index: 1;
  }
  
  header navbar ul{
    margin-left: 2%;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }
  header navbar ul li {
    margin-right: 5%;
   
  }
  header navbar ul li a{
    text-decoration: none;
    font-size: 3rem;
    
  }
  
  header navbar ul li a:hover{
    color: grey;
  }
  
  main{
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 7%;
    margin: 0;
    overflow-x: hidden;
    
  }
  
  #welcome-section{
    height: 80vh;
    background-color: #181818;
    background-image: url(../images/computer2.png);
    background-size:100% 100%;
    margin: 0;
  }
  
  #welcome-text{
    position: relative;
    top: 25%;
    text-align: center;
    font-size: 15rem;
    color: #181818;
  }
  
  #welcome{
    color: #181818;
  }
  #byline{
    font-size: 3rem;
    font-style: italic;
    margin-top: 1%;
    color: #181818;
  }
  
  #projects{
    width: 100%;
    background-color: #181818;
    
    
    margin: 0;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right:5%;
  }
  
  #project-text{
    padding-top: 4%;
    text-align: center;
    font-size: 4rem;
    color: #f5f5f5;
  }

  #divider{
    margin: auto;
    margin-top: 3%;
    width: 20%;
    border-top: solid 4px #f5f5f5;
  }
  
  #proj-container{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 50px;
    column-gap: 10px;
    margin-top: 5%
    
    
  }
  
  .project-tile{
    height: 250px;
  }
  
  .proj-div{
    display: block;
    text-align: center;
    font-size: 3rem;
  }
  
  .steam-text{
    font-style: italic;
    color: #f5f5f5;
  }
  #large-tile{
    height: 450px;
   
  }

  #flexgrow{
    flex-grow: 1;
  }
  
  #connect-section{
    min-height: 20%;
    padding-bottom: 1%; 
    width: 100%;
    background-color: #3e3e3e;
    display: block;
    margin: 0;
  }
  
  #connect-text{
    text-align: center;
    font-size: 3rem;
    padding-top: 1%;
  }
  
  #connect-small-text{
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
  }
  
  #socials{
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .social-logo{
    mix-blend-mode: multiply;
    height: 6vh;
    padding-top: 1%;
    padding-bottom: 1%;
    
  }

  .big-logo{
    height: 4vh;
  }
  
  @media only screen and (max-width: 1080px){
    #large-tile{
      height: 400px;
  
    }
    
    .project-tile{
      height: 250px;
    }
    * {
      font-size: 50%;
    
    }
  }

  @media only screen and (max-width: 720px){
    #large-tile{
      height: 300px;
  
    }
   
    .project-tile{
      height: 200px;
    }
    * {
      font-size: 40%;
    
    }

    .social-logo{
      height: 3vh;
    }

    .big-logo{
      height: 2vh;
    }
  }

  @media only screen and (max-width: 480px){
    #large-tile{
      height: 200px;
  
    }
   
    .project-tile{
      height: 150px;
    }
    * {
      font-size: 30%;
    
    }
  }

  @media only screen and (max-width: 360px){
    #large-tile{
      height: 100px;
  
    }
   
    .project-tile{
      height: 100px;
    }
    * {
      font-size: 20%;
    
    }
  }

  @media only screen and (orientation:portrait){
    #welcome-section{
      height: 30vh;
    }
  }